{% extends 'base.html' %}

{% block content %}
        <div class="container">
                <div class="row">
                <div class="col-md-7 offset-md-1">

                  <!--another version was tried-->
                  <div class="jumbotron jumbotron-fluid">
                    <div class="containe">
                    <h1 class="display-4">Chicken thinking.</h1>

                    </div>
                  </div>
                    <!--<img class="heroimage" src="https://bit.ly/2NnIbwX" alt="A lawyer chicken sits regally.">!-->
                </div>
                <div class="col scroll">
                    <h4><strong>NEWS FEED</strong></h4>
                    <p>___________________________________</p>
                    
                    <p>The Chicken Law Firm has decided to pursue a case against Big Farma in an attempt to guarantee that all chickens have access to egg control if they so desire it.</p>
                    <p>Royale, Davidiuk, & Vikram is please to annouce that Henrietta Eggiwegg has joined the firm as Director of Oology.</p>
                    <p>We are proud to announce our victory in the Ellis v Rooster suit. Rooster has won and shall be allowed to rise and alert all of mankind as often as he likes.</p>
                    <p>Royale, Davidiuk, and Vikram have made a donation of forty bushels of corn to be donated to the Free Chicken Fund a fund dedicated to providing for those chickens recently liberated from factory farms.</p>
                </div>
                </div>
                <div class="row">
                <div class="col-md-7 about offset-md-1">
                   <h5>Welcome to our website!</h5>
                   Royale, Davidiuk, and Vikram, PC is a nationally recognized and respected law firm that offers its clients big firm experience aand talent in a smaller firm environment. Our reputation is very important to us. We solve our client's problems in some situations and prevent them all together in other situations. We welcome you to our website to learn more about us. 
                </div>
                <div class="col contact">
                    <strong>Royale, Davidiuk, & Vikram, P.C.</strong><br>
                    222 W. Ontario Street, Suite #450<br>
                    Chicago, IL 60654<br>
                    312-321-1231 phone<br>
                    LOL-faxes-don't exist<br>
                    leylairoyale@gmail.com<br>
                </div>
                </div>
        </div>    

{% endblock content %}