
<link rel="stylesheet" href="{{url_for('static', filename='second.css')}}">

{% extends 'base.html' %}

{% block content %}

<!-- sasha's from github-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>WHAT WE DO</h4> 
      <p>________________________________</p>
      <p>Subragation</p>
      <ul style="list-style-type:none;">
        <li>Property</li>
        <li>Workers Compensation</li>
      </ul>
      <p>Litigation</p>
      <ul style="list-style-type:none;">
        <li>Apeilate</li>
        <li>Commercial</li>
        <li>Defense</li>
        <li>Labor Employment</li>
      </ul>
      <p>Business</p>
      <ul style="list-style-type:none;">
        <li>Brokerage Agreement</li>
        <li>Bussiness Formation</li>
        <li>Bussiness Related Contracts</li>
      </ul>
        <p>Transportation</p>
        <div>
        <img class="babychick" src='https://images.unsplash.com/photo-1542843403-822499a967ae' alt="chick">
        </div>
        <p>Attorneys <br>Meet our prestigious partners and esteemed assosiates.</p>
      </div>
  </div>
</div>
    <div class="col-md-9">
      <div >
          Chicken: There are a few phrases/idioms related to chickens which can serve as chicken puns in the right context: “A chicken and egg situation” and “Chicken out of something” and “Don’t count your chickens before they’ve hatched” and “Chicken sh*t” and “Get up with the chickens” and “You’re chicken (scared)” and “Curses, like chickens, come home to roost” and “Chicken feed (small amount of money/something)”.
       </div> 
         <div>
            <img class="pictures" src="https://images.unsplash.com/photo-1546833629-86e5534d5496" alt="chicks">
            <img class="pictures" src="https://images.unsplash.com/photo-1551988689-74d7c589f1c1" alt="rooster">
            <img class="pictures"src="https://images.unsplash.com/photo-1530059721-0fc1e6bb372d" alt="rooster">
           <img class="pictures" src="https://images.unsplash.com/photo-1558216629-d0bee9ac4796" alt="rooster">
         </div>
     </div>  
  </div>
</div>

  <!--end sasha's from github-->

{% endblock content %}