{% extends 'base.html' %}
{% block content %}
    
    <div class="container margin" >
        <div class="row">
            <div class="col-sm-4 redBgColor divHeight">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item paddingTop">
                        <a class="nav-link colorWhite fontSize" href="#">WHO WE ARE</a>
                    </li>
                    <li class="borderBottom liTop width marginLeft">
                        
                    </li>
                    <li class="nav-item liTop">
                        <a class="nav-link colorWhite fontSize" href="#">Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorWhite fontSize" href="#">Attorneys</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorWhite fontSize" href="#">Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorWhite fontSize" href="#">Reputation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorWhite fontSize" href="#">History</a>
                    </li>
                </ul>
                <!-- <div>
                    <img src="images/map.png" alt="Where we work map" class="imgStyle">
                    <div class="divStyle">
                        <span class="colorWhite"><b>Where We Work</b></span>
                        <p class="colorWhite fontMedium paddingBottom">
                            Find out more about our work coverage area.
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="col-sm-8">
                <p class="fontSize pWidth pMargin">
                    Who we are? That is one of the most important questions a prospective client can ask us. Our answer -
                    one of the most respected law firms in the country that cares about your case, your business, and
                    solving your problem. We invite you to get to know our attorneys better
                    and understand the depth of experience and talent we have in the links below.
                </p>
                <!-- <div class="divImg">
                    <img src="images/home.png" alt="Who we are images" class="homeImg">
                </div> -->
            </div>
        </div>
    </div>
   
{% endblock content %}